
@font-face {
  font-family: "font1";
  src: url(./assets/fonts/TForsTrialBold.ttf);
}
@font-face {
  font-family: "font2";
  src: url(./assets/fonts/TTForsTrialBlack.ttf);
}
@font-face {
  font-family: "font3";
  src: url(./assets/fonts/TTForsTrialDemiBold.ttf);
}
@font-face {
  font-family: "font4";
  src: url(./assets/fonts/TTForsTrialExtraBold.ttf);
}
@font-face {
  font-family: "font5";
  src: url(./assets/fonts/TTForsTrialExtraLight.ttf);
}
@font-face {
  font-family: "font6";
  src: url(./assets/fonts/TTForsTrialLight.ttf);
}
@font-face {
  font-family: "font7";
  src: url(./assets/fonts/TTForsTrialMedium.ttf);
}
@font-face {
  font-family: "font8";
  src: url(./assets/fonts/TTForsTrialRegular.ttf);
}
@font-face {
  font-family: "font9";
  src: url(./assets/fonts/TTForsTrialThin.ttf);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "font8";
}
body{
  background-color: black;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}